#banner-balanda-entrada {
    background: url("../img/quienes-somos/balanda-entrada.png") center center/cover no-repeat;
}

.parrafo-solo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.parrafo-solo p {
    max-width: 1100px;
    width: 100%;
}