@import '../commons/iniciar';
@import '../commons/header';
@import '../commons/banner';
@import '../commons/contenedor-contenido';
@import '../commons/contenido';
@import '../commons/estilos-parrafos';
@import 'estilos-adicionales.scss';
@import '../commons/footer';
