/* Botón descargar */
.boton-descargar {
    background-color: #388CCA;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 700;
    border: none;
}

.boton-descargar:hover {
    color: #121212;
    background-color: #fff;
    box-shadow: 0px 0px 25px #ffffffaa;
    border: none;
}