/* BANNERS */

.banner {
    height: 85vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .linea-gradiente-dorado-completa {
    position: relative;
    bottom: 50%;
    width: 100%;
}

.filtro-oscurecer {
    background: linear-gradient(0deg, #121212ff 0%, #12121289 35%, #12121200 60%);
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 1px;
}

.titulo-pestania{
    position: absolute;
    bottom: 0px;
    font-size: 7em;
    text-align: center;
}

@media (max-width: 960px) {
    .titulo-pestania {
        font-size: 5em;
    }
    
    .banner {
        height: 60vh;
    }
}

@media (max-width: 580px) {
    .titulo-pestania {
        font-size: 4em;
    }
    
    .banner {
        height: 50vh;
    }
}

@media (max-width: 480px) {
    .titulo-pestania {
        font-size: 2.5em;
    }
    
}