/* Contenedor Contenido*/

.contenedor-contenido {
    margin: 50px 100px 200px 100px;
}

.contenido-body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 550px) {

    .contenedor-contenido {
        margin: 50px 20px 150px 20px ;
    }
    
}