/* Header */

header {
    height: 66px;
    width: 100%;
    background-color: #121212;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    position: fixed;
    top: 0;
    z-index: 1000;
}

#contenedor-titulo-balanda {
    display: none;
    position: absolute;
    left: 25px;
}

#menu {
    display: none;
    position: absolute;
    right: 25px;
    cursor: pointer;
}

#menu-icono {
    width: 25px;
    aspect-ratio: 1;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#menu-icono .hamburguesa {
    width: 100%;
    height: 4px;
    background-color: #FFF;
    border-radius: 2px;
}

#contenedor-menu-desplegable {
    position: absolute;
    right: 0px;
    top: 47px;
    background-color: #121212;
    padding: 10px 20px;
    width: 180px;
    border: 1px solid #fff;
    display: none;
}

#menu:hover #contenedor-menu-desplegable {
    display: block;
}

#contenedor-menu-desplegable a h3 {
    font-size: 1.3rem;
    margin: 5px 0;
}

.hover-dorado a:hover,
#contenedor-menu-desplegable a h3:hover,
#contenedor-titulo-balanda a:hover {
    background: linear-gradient(90deg, rgba(192,132,39,1) 0%, rgba(247,232,170,1) 25%, rgba(192,132,39,1) 50%, rgba(247,232,170,1) 75%, rgba(192,132,39,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hover-dorado a:hover,
#contenedor-menu-desplegable a h3:hover {
    border-bottom: 2px solid #FFF;
}

header * {
    text-decoration: none;
    color: white;
    font-size: 1.015em;
}

#lista-links-navegacion {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#lista-links-navegacion > ul {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

#texto-balanda-header {
    font-size: 1.8em;
    font-weight: 600;
}

#linea-gradiente-dorado-header {
    background: linear-gradient(90deg, rgba(247,232,170,1) 0%, rgba(192,132,39,1) 25%, rgba(247,232,170,1) 50%, rgba(192,132,39,1) 75%, rgba(247,232,170,1) 100%);
    height: 10px;
    width: 100%;
    position: absolute;
    top: 65px;
    box-shadow: 0px 5px 15px #121212aa;
}

header #contenedor-img {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    background-color: aqua;
    height: 0px;
}

header #contenedor-img #insignia-header {
    width: 110px;
    height: 110px;
    filter: drop-shadow(0px 2.5px 10px #121212aa);
}

#texto-balanda-header,
#texto-menu,
#contenedor-titulo-balanda a {
    font-family: "Arvo", serif;
    font-size: 1.8rem;
    font-weight: 500;
}

@media (max-width: 1111px) {
    .links-ocultar {
        visibility: hidden;
    }
    #menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        right: 15px;
    }

    #contenedor-titulo-balanda {
        display: block;
    }
}

@media (max-width: 580px) {
    header #contenedor-img #insignia-header {
        width: 80px;
        height: 80px;
        filter: drop-shadow(0px 2.5px 10px #121212aa);
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}


@media (max-width: 380px) {
    header #contenedor-img #insignia-header {
        width: 80px;
        height: 80px;
        filter: drop-shadow(0px 2.5px 10px #121212aa);
    }

    #menu {
        right: 4px;
    }

    #contenedor-titulo-balanda {
        left: 13px;
    }

    #texto-menu,
    #contenedor-titulo-balanda a {
        font-size: 1.6rem;
    }
}