/* Banner Departamentos */

#banner-grifos {
    background: url('../img/departamentos/cielo-azul-fondo.webp') center center/cover no-repeat;
}

#banner-imagen-avion {
    position: relative;
    background: url('../img/departamentos/k-8-sin-fondo.webp') center center/cover no-repeat;
    width: 1100px;
    aspect-ratio: 5/2;
    animation: 4250ms infinite alternate movimieto-avion-banner;
}

/* Animacion Avion Banner */
@keyframes movimieto-avion-banner {
    0% {
        top: -5vh;
    } 100% {
        top: 0vh;
    }
}
#banner-imagen-nubes {
    background: url('../img/departamentos/Nubes.webp') center center/cover no-repeat;
    width: 100%;
    height: 100%;
    
    position: absolute;
}

#banner-bomberos {
    background: url("../img/departamentos/bomberos.webp") center center/cover no-repeat;
}

#banner-escuela-sargentos {
    background: url("../img/departamentos/sargentos-formacion.webp") center center/cover no-repeat;
}

#banner-escuadron-de-policia-aerea-epabalanda {
    background: url("../img/departamentos/Banner-epa.webp") center center/cover no-repeat;
}