/* Estilos adicionales "Departamentos" */

.contenedor-contenido {
    margin: 50px 100px 200px 100px ;
}

.imagen-descripcion img {
    max-height: 400px;
}

a h1 {
    text-align: center;
}

@media (max-width: 520px) {
    
    .contenedor-contenido {
        margin: 50px 20px 200px 20px ;
    }
}