@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "Heebo", sans-serif;
  color: #FFF;
}

body {
  background-color: #121212;
}

/* Header */
header {
  height: 66px;
  width: 100%;
  background-color: #121212;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 1000;
}

header * {
  text-decoration: none;
  color: white;
  font-size: 1.015em;
}

#lista-links-navegacion {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#lista-links-navegacion > ul {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

#texto-balanda-header {
  font-size: 1.8em;
  font-weight: 600;
}

#linea-gradiente-dorado-header {
  background: linear-gradient(90deg, rgb(247, 232, 170) 0%, rgb(192, 132, 39) 25%, rgb(247, 232, 170) 50%, rgb(192, 132, 39) 75%, rgb(247, 232, 170) 100%);
  height: 10px;
  width: 100%;
  position: absolute;
  top: 65px;
  box-shadow: 0px 5px 15px rgba(18, 18, 18, 0.6666666667);
}

header #contenedor-img {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20px;
  background-color: aqua;
  height: 0px;
}

header #contenedor-img #insignia-header {
  width: 110px;
  height: 110px;
  filter: drop-shadow(0px 2.5px 10px rgba(18, 18, 18, 0.6666666667));
}

#texto-balanda-header {
  font-family: "Arvo", serif;
  font-weight: 700;
}

@media (max-width: 1111px) {
  .links-ocultar {
    visibility: hidden;
  }
}
@media (max-width: 380px) {
  header #contenedor-img #insignia-header {
    width: 80px;
    height: 80px;
    filter: drop-shadow(0px 2.5px 10px rgba(18, 18, 18, 0.6666666667));
  }
}
/* BANNERS */
.banner {
  height: 85vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner .linea-gradiente-dorado-completa {
  position: relative;
  bottom: 50%;
  width: 100%;
}

.filtro-oscurecer {
  background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0.537254902) 35%, rgba(18, 18, 18, 0) 60%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1px;
}

.titulo-pestania {
  position: absolute;
  bottom: 0px;
  font-size: 7em;
  text-align: center;
}

@media (max-width: 960px) {
  .titulo-pestania {
    font-size: 5em;
  }
  .banner {
    height: 60vh;
  }
}
@media (max-width: 580px) {
  .titulo-pestania {
    font-size: 4em;
  }
  .banner {
    height: 50vh;
  }
}
@media (max-width: 480px) {
  .titulo-pestania {
    font-size: 2.5em;
  }
}
.contenedor-contenido {
  margin: 50px 100px 200px 100px;
}

.contenido-body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 550px) {
  .contenedor-contenido {
    margin: 50px 20px 150px 20px;
  }
}
.bloque-contenido {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
}

/* Descripcion De La Base Aérea */
.imagen-descripcion h5 {
  margin-top: 10px;
  text-align: center;
  font-weight: 300;
}

#breve-descripcion p {
  width: 50%;
  max-width: 550px;
  line-height: 1.8;
}

.separador-secciones {
  margin: 150px 0;
  height: 10px;
  width: 100%;
  background: linear-gradient(90deg, rgb(247, 232, 170) 0%, rgb(192, 132, 39) 25%, rgb(247, 232, 170) 50%, rgb(192, 132, 39) 75%, rgb(247, 232, 170) 100%);
  border-radius: 10px;
  border: none;
}

/* Seccion departamentos */
.titulo-seccion {
  margin-bottom: 100px;
  font-size: 3em;
  text-align: center;
}

.imagen-descripcion img {
  width: 100%;
  max-width: 500px;
}

.contenedor-texto h1 {
  width: 70%;
  margin-bottom: 20px;
}

.contenedor-texto p {
  width: 90%;
  max-width: 550px;
  line-height: 1.8;
}

.bloque-contenido .derecha {
  position: relative;
  left: 5%;
}

hr {
  height: 40vh;
}

.linea-gradiente-dorado-completa {
  background: linear-gradient(90deg, rgb(247, 232, 170) 0%, rgb(192, 132, 39) 25%, rgb(247, 232, 170) 50%, rgb(192, 132, 39) 75%, rgb(247, 232, 170) 100%);
  height: 10px;
  width: 100%;
  box-shadow: 0px 5px 15px rgba(18, 18, 18, 0.6666666667);
  border: none;
}

@media (max-width: 960px) {
  .titulo-seccion {
    font-size: 2.3em;
  }
  .bloque-contenido {
    flex-direction: column;
    width: 100%;
  }
  .separador-mini {
    width: 90%;
    height: 1px;
    margin: 20px 0;
  }
  #breve-descripcion p {
    width: 100%;
    margin-top: 50px;
    max-width: 550px;
    line-height: 1.8;
    text-align: justify;
  }
  .bloque-contenido .derecha {
    position: relative;
    left: 0;
  }
  .imagen-descripcion img {
    width: 550px;
    max-width: none;
  }
  .imagen-descripcion {
    margin-top: 25px;
  }
  .contenedor-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contenedor-texto h1 {
    width: 80%;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
  .contenedor-texto p {
    width: 100%;
    max-width: 550px;
    line-height: 1.8;
    text-align: justify;
  }
  .invertir-columna {
    flex-direction: column-reverse;
  }
  #escudo-img img {
    width: 300px;
  }
}
@media (max-width: 707px) {
  .titulo-seccion {
    font-size: 2em;
  }
  .imagen-descripcion img {
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 520px) {
  .titulo-seccion {
    font-size: 1.75em;
  }
}
.parrafo-solo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.parrafo-solo p {
  max-width: 1100px;
  width: 100%;
}

#banner-balanda-entrada {
  background: url("../img/quienes-somos/balanda-entrada.png") center center/cover no-repeat;
}

.contenido-espaciado {
  margin: 50px 10px 100px 10px;
}

.parrafo-solo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.parrafo-solo p {
  max-width: 1100px;
  width: 100%;
}

/* Footer */
footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer h5 {
  font-weight: 100;
  text-align: center;
  margin: 0 10px;
}

#linea-gradiente-dorado-footer {
  background: linear-gradient(90deg, rgb(247, 232, 170) 0%, rgb(192, 132, 39) 25%, rgb(247, 232, 170) 50%, rgb(192, 132, 39) 75%, rgb(247, 232, 170) 100%);
  height: 10px;
  width: 100%;
  position: relative;
  bottom: 100px;
  box-shadow: 0px 5px 15px rgba(18, 18, 18, 0.6666666667);
}/*# sourceMappingURL=quienes-somos.css.map */