/* Banner */

#contenedor-banner {
    height: calc(100vh - 66px);
}

#fondo-cielo {
    background: url("../img/inicio/cielo-azul-fondo.png") center center/cover no-repeat;
    height: 100%;
}

#nubes {
    background: url("../img/inicio/Nubes.png") center center/cover no-repeat;
    width: 100%;
    height: 1100px;
    position: absolute;
    bottom: 000px;
}

.avion-banner {
    background: url("../img/inicio/k-8-sin-fondo.png") center center/cover no-repeat;
    aspect-ratio: 5/2;
    position: absolute;
    min-width: 600px;
}

#avion-banner-1 {
    width: 42%;
    top: 18vh;
    right: 20%;

    animation: 3250ms infinite alternate movimieto-avion1;
}

/* Animacion Avion 1 */

@keyframes movimieto-avion1 {
    0% {
        top: 16vh;
    } 100% {
        top: 20vh;
    }
}

#avion-banner-2 {
    width: 50%;
    top: 45vh;
    right: 5%;
    
    animation: 3750ms infinite alternate movimieto-avion2;
}

/* Animacion Avion 2 */

@keyframes movimieto-avion2 {
    0% {
        top: 43vh;
    } 100% {
        top: 47vh;
    }
}

#filtro-oscuro {
    background: linear-gradient(0deg, #121212ff 0%, #12121200 40%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#bienvenida {
    position: absolute;
    background-color: #121212;
    bottom: 40px;
    left: 35px;
    padding: 25px;
    width: 500px;
    border-radius: none;
}

#bienvenida > * {
    background: linear-gradient(90deg, rgba(192,132,39,1) 0%, rgba(247,232,170,1) 25%, rgba(192,132,39,1) 50%, rgba(247,232,170,1) 75%, rgba(192,132,39,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#texto-balanda {
    font-size: 4.8em;
    font-weight: bold;
}

#bienvenida hr {
    height: 6px;
    background: #fff;
    margin: 13px 0;
}

#texto-base-aerea, #texto-nombre {
    font-size: 2em;
}

@media (max-width: 1111px) {

     /* Posicion Aviones */
     #avion-banner-1 {
        right: 34%;
    }
    
    #avion-banner-2 {
        right: 15%;
    }

    @keyframes movimieto-avion1 {
        0% {
            top: 15vh;
        } 100% {
            top: 19vh;
        }
    }

    @keyframes movimieto-avion2 {
        0% {
            top: 36vh;
        } 100% {
            top: 40vh;
        }
    }

    #bienvenida {
        position: relative;
        bottom: 200px;
        left: 0;
        padding: 25px;
        border-radius: 0;
    }
}

@media (max-width: 960px) {
    
    #avion-banner-1 {
        width: 42%;
        top: 13vh;
        right: 20%;
    }
    
    #avion-banner-2 {
        width: 50%;
        top: 32vh;
        right: 5%;
    }
    
    @media (max-height: 800px) {
        
        #avion-banner-1 {
            width: 42%;
            top: 13vh;
            right: 20%;
        }
        
        #avion-banner-2 {
            display: none;
        }
        
    }
}

@media (max-width: 707px) {
    
    .avion-banner {
        min-width: 100px;
    }

    #avion-banner-1 {
        width: 70%;
        top: 15vh;
        right: 28%;
    }
    
    #avion-banner-2 {
        width: 75%;
        top: 33vh;
        right: 4%;
    }

    #bienvenida {
        bottom: 300px;
        left: 0;
        padding: 25px;
        width: calc(100% - 50px);
    }

    #bienvenida hr {
        height: 6px;
        background: #fff;
        margin: 13px 0;
    }
}

@media (max-width: 550px) {
    
    #texto-balanda {
        font-size: 4em;
        font-weight: bold;
    }
}

@media (max-width: 430px) {
    
    #avion-banner-1 {
        width: 70%;
        top: 21vh;
        right: 25%;
    }
    
    #avion-banner-2 {
        width: 75%;
        top: 33vh;
        right: 8%;
    }
}

@media (max-width: 380px) {
    
    #avion-banner-1 {
        width: 85%;
        top: 25vh;
        right: 12%;
    }
    
    #avion-banner-2 {
        display: none;
    }

    #bienvenida {
        position: relative;
        background-color: #121212;
        bottom: 250px;
        left: 0;
        padding: 25px;
        width: calc(100% - 50px);
        border-radius: 0;
    }

    @keyframes movimieto-avion1 {
        0% {
            top: 30vh;
        } 100% {
            top: 34vh;
        }
    }
}