/* Estilos adicionales "Ayuda" */

#banner-balanda-entrada {
    background: url("../img/ayuda/k8-1.webp") center center/cover no-repeat;
}

.contenedor-texto ul {
    padding: 20px 50px;
}

.separador {
    width: 85%;
    max-width: 1000px;
    margin: 50px;
}

.imagen-screenshot {
    border: 1px solid #ffffff88;
}